<%= @machine.location %>

<h1>Choose Items for My Machine:</h1>
<% @snacks.each do |snack| %>
<ul>
  <li><%= snack.name %></li>
  <li><%= snack.price %></li>
  <li><%= button_to "Add This Item to My Machine" %></li>
</ul>
<% end %>

<h1>Items in My Machine:</h1>
